body,html
{
    background-color: #F4D04E;
    font-family: 'Figtree-Light', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin:0;

}

.container
{
    border:black solid;
    background-color: white;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding-left:20px;
    display: block;
    border-right: black solid 10px;
    border-bottom: black solid 10px;
    position:fixed;
}
.image
{   display: block;
    width: 327px;
    height: 200px;
    border-radius:40px;
    padding-top: 12px;
    overflow: hidden;
    border: none;
    padding-bottom: 0px;
    font-weight:  bold;
    margin-top:5px;
    
}

.learn
{
    display: inline-block;
    background-color: #F4D04E;
    border : #F4D04E solid 7px;
    border-radius:3px;
    padding-top: 0%;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: small;
}
.html
{
    font-weight: 100px;
}

.avatar
{
    margin-top:10px;
    width: 40px;
}
.greg{
    display: inline;
    padding-bottom: 20px;
    margin-top: 23px;
    margin-left: 5px;
    position: absolute;
}

.maincontainer
{
display: flex;
justify-content: center;
align-items: center;    
}